.filterContainer{
   background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0,0,0,0.3);
     gap: 2rem;
}
.searchBox {
  margin: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.form {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.3rem;
}

.inputFild {
  width: 100%;
  padding: 0.4rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.listItem{
  display: block;
  width: 100%;
  align-items: left;
  margin: 0.2rem 0;
  padding:0.35rem 0.6rem;
  border-radius: 4px;
  background:transparent;
  font-size: 0.90rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #333;
}
.active {
  background-color: #4a90fa;
  color: white;
  font-weight: 500;
}
.listItem:hover{
  background-color: #d8eef9;
  color: #000;
}
.priceCategory{
   background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
.priceCategory h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
.priceValue {
  font-size: 16px;
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 10px;
}
.clearBtn{
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: #f59637;
  color: black;
}
/* .priceCategory input[type="range"] {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: #e0e0e0;
  outline: none;
  cursor: pointer;
  appearance: none;
} */
/* .priceCategory input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #4a90fa;
  cursor: pointer;
  transition: 0.3s;
}
.priceCategory input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  background: #084298; */
/* } */