.filterContainer{
   background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0,0,0,0.3);
     gap: 2rem;
}
.searchBox {
  margin: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.form {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.3rem;
}

.inputFild {
  width: 100%;
  padding: 0.4rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
}
.category{
  margin-top: 1rem;
}
.category h3{
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.listItem{
  display: block;
  width: 100%;
  align-items: left;
  margin: 0.2rem 0;
  padding:0.35rem 0.6rem;
  border-radius: 4px;
  background:transparent;
  font-size: 0.90rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #333;
}
.listItem:hover{
  background-color: #d8eef9;
  color: #000;
}