.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 2rem;
    padding: 2rem;
}
@media(max-width:768px){
    .grid{
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
    @media (max-width:450px) {
        .grid{
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }
}