.list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 2rem;
    padding: 1.5rem;
    background: #e6e1e1;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgb(0,0,0,0.8);
}
.imageBox{
    overflow: hidden;
    border-radius: 10px;
}
.imageBox img{
   width: 100%;
   height: 180px;
   object-fit: contain;
   transition: transform 0.4s ease, filter 0.4s ease;
}
 .imageBox img:hover{
    transform: scale(1.08);
    filter: brightness(1.05);
}
.content{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.category{
    text-transform: capitalize;
    color: #777;
    font-size: 0.9rem;
}
.title{
    font-size: 1.2rem;
    font-weight: 600;
}
.price{
    font-size:1.1rem ;
    font-weight: bold;
    color: #222;
}
.desc{
    color: #555;
    line-height: 1.5;
}
.btn{
    margin-top: auto;
    width: fit-content;
    padding: 0.6rem 1.4rem;
    background:#2874f0;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover{
    background-color: #1c5fd4;
}
@media(max-width:768px){
    .card{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .btn{
        margin: 0 auto;
    }
}