.nav {
  display: flex;
  align-items: center;
  gap: 28px;
  position: relative;
}

.links {
  display: flex;
  gap: 28px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.btn{
  padding:0.6rem 2rem;
  border: none;
  color: white;
  background-color: rgb(243, 83, 69);
  border-radius: 10px;
}
/* Cart */
.cartWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.cartIcon {
  font-size: 22px;
}

.cartCount {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 11px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Menu Icon */
.menuIcon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .links {
    position: absolute;
    top: 64px;
    right: 16px;
    width: 220px;
    background: #ffffff;
    flex-direction: column;
    padding: 16px 20px;
    gap: 18px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    /* Smooth animation */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .showMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .menuIcon {
    display: block;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
  }
}
