.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 2rem;
    padding: 2rem;
}
/* .filter{
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0,0,0,0.8);
} */
.productSection{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.products{
    min-height: 60vh;
}
@media(max-width:900px){
    .container{
        grid-template-columns: 200px, 1fr;
    }
}
@media(max-width:768px){
    .container{
        grid-template-columns: 1fr;
    }
    .filter{
        order: 2;
    }
    .productSection{
        order: 1;
    }
}