.starWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stars {
  display: flex;
  gap: 4px;
  color: #facc15; /* golden stars */
  font-size: 16px;
}

.star {
  display: flex;
}

.reviews {
  font-size: 14px;
  color: #6b7280;
}
